#This is an example for env files with all possible options.
#Variables that have default values have them set here. The other
#ones are empty.

#Spotify API
CLIENT_ID=""
CLIENT_SECRET=""

#express and general
GLOBAL_DEBUG="" # ""|0|1|2|3
HOST="localhost"
PORT="8888"
PROXY_PORT="<PORT>"
SESSION_SECRET=""
SESSION_TIMEOUT="300" #maxAge in seconds
RUNNING_WITH_TLS="true" #true|false
URI="http://127.0.0.1:8888" #URL|false. If given, we use it for global redirection and oAuth callbacks

#db
DB_HOST=""
DB_NAME=""
DB_PASSWORD=""
DB_PORT="3306"
DB_USER=""

# Client redirect settings (new)
# Example: CLIENT_APP_URL=https://app.example.com
CLIENT_APP_URL=
# Where to send users after successful login
CLIENT_POST_LOGIN_PATH=/playlists
# Where to send users after logout/delete
CLIENT_POST_LOGOUT_PATH=/
